<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <style>
        body{
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Roboto", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
            color: #111;
        }
    </style>
</head>
<body>
<h1>Hello,My Servlet Template!</h1>
<h2>Version: 0.0.2Beat</h2>

<h1>
    当前配置主机：<span th:text="${#request.getServerName()}">服务器名称/IP地址</span>
</h1>
<h2>Help:</h2>
<ul>
    <li><a th:href="${sourcing}">源地址</a></li>
    <li><a th:href="${thymeleafHelp}">thymeleaf帮助</a></li>
    <li><a th:href="${webHelp}">web帮助</a></li>
</ul>
</body>
</html>